article {
    font-size: 20px;
}
article .picture    {
    width: 200px;
    height: 150px;
    background: yellowgreen;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
article .text   {
    clear: left;
}
.clearfix::after   {
    content: "";
    clear: both;
    display: block;
}
.box    {
    width: 150px;
    height: 100px;
    background: blue;
    color: white;
    font-size: 30px;
    margin: 10px;
    float: left;
}
.box4   {
    width: 200px;
    height: 150px;
    background: violet;
}