.box    {
    width: 100px;
    height: 100px;
    background: yellow;
    margin: 50px;
    transition: width 1s, background-color 1s;
}
.box:hover  {
    width: 300px;
    background: yellowgreen;
}
.box2    {
    width: 100px;
    height: 100px;
    background: rgb(117, 212, 40);
    margin: 50px;
    transition: 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.box2:hover  {
    width: 300px;
    background: rgb(30, 99, 226);
}
.box3    {
    width: 100px;
    height: 100px;
    background: rgb(211, 105, 18);
    margin: 50px;
    transition: 1s steps(3);
}
.box3:hover  {
    width: 300px;
    background: rgb(216, 29, 29);
}